.section-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.8rem;
}

.section-title {
  margin: 0;
}

.underline {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 15rem;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: white;
}

.hexagon {
  width: .7rem;
  height: .7rem;
  background-color: white;
  margin: 0 10px;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-align: justify;
  margin-top: 0.7rem;
}

.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  align-items: center;
}

.skill-tag {
  padding: 0.3rem 0.8rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #1db954;
  font-size: 0.9rem;
}

.highlights-text{
  text-align: center;
}

.carousel-container{
  max-width: 45rem;
}

.carousel{
  border-radius: 0.5rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.project-grid {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: #323232;
  border-radius: 0.5rem;
  transition: opacity 0.2s ease;
  text-align: justify;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  object-fit: cover;
  display: block;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 5rem;
}

.card:hover .card-img {
  transform:scale(1.1);
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-text {
  padding: 0rem 1rem;
}

.project-card-img{
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.card-other-info {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px){
  .about-content{
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
  .about-content {
    flex-direction: column;
    gap: 0.5rem;
  }
}