.project-page {
  text-align: justify;
}

.project-card {
  margin-top: 0.8rem;
  max-width: 100%;
  overflow: hidden;
}

.project-card img {
  border-radius: 0.5rem;
}

.project-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 1000;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.page-not-found {
  margin-bottom: 44vw;
}

.project-page .carousel-container {
  max-width: 100%;
}