.section-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-title {
  margin: 0;
}

.underline {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 15rem;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: white;
}

.hexagon {
  width: .7rem;
  height: .7rem;
  background-color: white;
  margin: 0 10px;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-align: justify;
}

.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  align-items: center;
}

.skill-tag {
  padding: 0.3rem 0.8rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #1db954;
  font-size: 0.8rem;
}

.carousel-container{
  position: relative;
  padding: 15%;
  max-width: 100%;
}

.card, .project-card {
  overflow: hidden;
  cursor: pointer;
}

.card {
  aspect-ratio: 16 / 9;
  border-radius: 0.2rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: rgba(0, 0, 0, 0.6);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 5rem;
  cursor: pointer;
}

.active-card:hover .card-overlay {
  opacity: 1;
}

.card.active-card:hover img {
  transform: scale(1.1);
}

.project-grid {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.project-card {
  background: #323232;
  border-radius: 0.2rem;
  transition: opacity 0.2s ease;
  text-align: justify;
}

.project-card:hover .card-overlay{
  opacity: 1;
}

.project-card-img{
  transform: scale(1.1);
}

.project-card-text {
  padding: 1rem;
}

@media (max-width: 1200px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
  .about-content {
    flex-direction: column; /* cleaner stacking */
    gap: 1.5rem;
  }
}