:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 350;
  font-size: 1.2rem;

  color: rgba(255, 255, 255, 0.95);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main-content {
  padding: 5rem 6vw 4rem;
  margin: 0 auto;
  max-width: 60rem;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
  text-align: left;
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  background-color: #1db954;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
}

.cvButton {
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  border: 0.1rem solid white;
}

.cvButton:hover {
  color: #323232;
  border: 0.1rem solid #323232;
}

.carousel-container {
  margin: 0 auto;
  margin-bottom: 2rem;
}

.carousel img {
  height: 100%;
}

.footer {
  background-color: #323232;
}

a {
  color: white;
  text-decoration: none;
  padding: 1rem 0rem;
}

.link {
  color: #1db954;
}

.button,
a.button {
  padding-right: 1rem;
  transition: all 0.2s ease;
}

button:hover,
a.button:hover {
  color: #323232;
}

::selection {
  background-color: #1db9549a;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    padding: 0 0rem;
    padding-bottom: 0.7rem;
  }

  .main-content {
    padding: 7rem 6vw 4rem;
    font-size: 110%;
  }
}